#usernameTextField {
    -fx-text-fill: white;
}

#passwordTextField{
    -fx-text-fill: white;
}
.linear-grad-to-bottom {
    -fx-background-color: linear-gradient(to bottom, #0b4467 80%, #000000 100%);
}
.prev-button {
    -fx-graphic: url('file:///C:/Users/Matthew%20(School%20Acc)/Downloads/harana-java/harana/src/main/resources/com/harana/leftButtonProfile.png'); 
    -fx-background-color: transparent; 
}

.next-button {
    -fx-graphic: url('file:///C:/Users/Matthew%20(School%20Acc)/Downloads/harana-java/harana/src/main/resources/com/harana/rightButtonProfile.png');
    -fx-background-color: transparent; 
}
.background-ID{
    -fx-background-color: linear-gradient(to bottom, #cc1242 80%, #55081c 100%);
}